<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .box1 {
      width: 100%;
      height: 200px;
      background-color: #957bbe;
    }
    .box2 {
      width: 100%;
      height: 200px;
      background-color: #80bdff;
    }
    .col {
      min-height: 50px;
      border: 1px solid #aaaaaa;
    }
    .con-demo {
      height: 300px;
      width: 100%;
      border: 1px solid #000;
    }
  </style>
  <title>Grid system</title>
</head>
<body>
<div class="container">
  <h1>Grid system</h1>
  <hr/>
  <p>单col为自适应，如果row中有定义宽度的col，则未定义的col平分剩余空间</p>
  <p>可设置自适应的最低值，如限定col-md，则在md以下会把所有col拉伸到100%</p>
  <p class="text-danger">因为栅格是12格，如果剩下自适应的平分不为整数，可能会出布局问题。如col，col-11，col</p>
  <p class="text-danger">不支持col-xs-布局</p>
  <p class="text-danger">移除visible-，hidden-</p>
  <div class="row">
    <div class="col-sm box1"></div>
    <div class="col-sm-6 box2"></div>
    <div class="col-sm box1"></div>
  </div>
  <h2>Equal-width multi-row</h2>
  <p>能通过.w-100来打断原来的布局，可以通过隐藏来取消</p>
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <h2>Alignment</h2>
  <div class="container con-demo">
    <div class="row align-items-start">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>